<h1>Orders</h1>

<% @orders.each do |order| %>
  <div>
    <%= link_to "Order ##{order.id}", order  %>:
    <%= order.state %>:
    <%= link_to 'refund', refund_order_path(order), method: :put if order.refundable? %>
  </div>
<% end %>